.app {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (max-width: 375px) {
    .app {
        min-height: 100vh;
    }
}